.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.todo-item p {
  padding-left: 1em;
  font-size: 1.2em;
  text-transform: capitalize;
}

.todo {
  overflow-x: hidden;
}

.todo-config {
  display: flex;
}

.todo-config button:hover {
  cursor: pointer;
}

.todo-config img {
  width: 2.5em;
}