.bingo-ball {
  width: fit-content;
  min-width: 3em;
  max-height: 3em;
  color: white;
  background-color: orange;
  padding: 1em;
  border-radius: 100%;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}