.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
}

.message {
  display: flex;
  flex-direction: column;
}

.message textarea {
  resize: none;
}

.user-info {
  display: flex;
  gap: 1em;
}

.action-btns {
  display: flex;
  gap: 1em;
}