* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.input-and-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid rgba(190, 190, 190, 0.481);
}
.input-and-btns input, .input-and-btns button {
  padding: 0.75em 1em;
  border: none;
}

.input-and-btns input:hover, .input-and-btns button:hover {
  cursor: pointer;
}

.input-and-btns input {
  width: 60%;
}

.input-and-btns input:hover {
  background-color: rgba(241, 241, 241, 0.8);
}

.input-and-btns button {
  width: 20%;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 1.5px solid rgba(190, 190, 190, 0.4);
}

.input-and-btns button:hover {
  background-color: rgb(0, 0, 214);
}