.btn {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 8px;
  width: fit-content;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 18px;
}

.btn:hover {
  background-color: rgba(0, 172, 252, 0.807);
  cursor: pointer;
}