html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgb(0,36,33);
  background: linear-gradient(90deg, rgba(0,36,33,1) 0%, rgba(9,121,88,1) 35%, rgba(0,255,120,1) 100%);
}

.screen {
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
  padding: 0.5em 0.8em;
  border: none;
  width: 100%;
  font-size: 2em;
}

.backspace-icon {
  width: 1.4em;
}
