.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 2em;
}

.image img {
  width: 100%;
}

.inputs {
  display: flex;
  gap: 0.5em;
}