* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em 2em;
  width: 100%;
}

.bingo-balls-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  margin-left: 20%;
}

.btns-container {
  position: fixed;
  left: 2em;
  top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.add-btn, .reset-btn {
  padding: 0.8em 0;
  border-radius: 2em;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  text-align: center;
  min-width: 4em;
}

.add-btn:hover, .reset-btn:hover {
  cursor: pointer;
}

.add-btn {
  background-color: blue;
}

.add-btn:hover {
  background-color: rgb(0, 0, 136);
}

.reset-btn {
  background-color: red;
}

.reset-btn:hover {
  background-color: rgb(127, 0, 0);
}