button {
  border: none;
  outline: none;
  color: white;
  font-size: 1em;
  padding: 1em;
  background-color: rgba(59, 59, 59, 0.7);
  border-radius: 0.3em;
}

.equals {
  grid-column: 3 / 5;
}

button:hover, .equals:hover {
  background-color: rgba(25, 25, 25, 0.7);
}