* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
  padding: 0 1rem;
}

.container {
  display: flex;
  gap: 20px;
}

.header h1{
  font-size: 2.5rem;
  text-align: center;
}