.instrument {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  border-radius: 0.8rem;
  padding: 0.6rem 1rem;
}

.instrument:hover {
  background-color: rgb(200, 178, 152)
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {

  .instrument {
    width: fit-content;
    align-items: center;
  }
  
  .image-container {
    width: 40%;
  }

}

.image-container img {
  width: 102%;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.price {
  font-weight: 700;
  font-size: 1.1rem;
}